/* pages/messageIndex/messageIndex.wxss */
.messageCon {
    width: 100%;
    background: #F6F7FA;
    height: 100%;
}
.bgImg {
    position: fixed;
    left: 0;
    top:0;
}
.nav-box {
    white-space: nowrap;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: #fff;
    border-bottom: 2rpx solid #f0f0f0;
}
.navigator-color{
    background-image: linear-gradient(90deg, rgba(249,249,249,0.00) 0%, #F0F0F0 100%);
    width:100rpx;
    height: 90rpx;
    position: fixed;
    right: 0rpx;
    top: 0rpx;
    z-index: 10;
}
.nav-search {
    width:80rpx;
    height: 90rpx;
    position: fixed;
    right: 80rpx;
    top: 0rpx;
    z-index: 10;
}
.nav-search image {
    width: 32rpx;
    height: 32rpx;
    margin: 28rpx auto;
}
.nav-item {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    line-height: 86rpx;
    font-family: PingFangSC-Regular;
    font-size: 28rpx;
    color: #7B8294;
    letter-spacing: -0.68rpx;
    text-align: center;
}
.active {
    font-size: 34rpx;
    color: #29C37F;
    letter-spacing: -0.82rpx;
    text-align: center;
}
.line {
    width:52rpx;
    height: 4rpx;
    background: #29C37F;
    border-radius: 3rpx;
    position: relative;
    left: 50%;
    margin-left: -26rpx;
}

.messege-con {
    width: 100%;
    /* padding-bottom: 110rpx; */
    box-sizing: border-box;
    position: relative;
    padding-top: 100rpx;
    height: 100%;
}

.discuss {
    padding: 40rpx;
    position: relative;
    background: #fff;
}

.discuss .discuss-replay {
  margin-top: 26rpx;
  font-family: PingFangSC-Medium;
  font-size: 24rpx;
  color: #7B8294;
  letter-spacing: 0.44rpx;
}

.discuss .discuss-replay text {
  font-family: PingFangSC-Medium;
  font-size: 24rpx;
  color: #151515;
  letter-spacing: 0.44px;
  line-height: 34rpx;
}
.add-box-project{
    position:fixed;
    right:40rpx;
    bottom:140rpx;
    width:77rpx;
    height:77rpx;
    background:#38D791;
    border-radius:50%;
    align-items:center;
    display:flex;
    justify-content:center;
}
.add-box-project image{
    width:58rpx;
    height:45rpx;
}



.task{
  padding:40rpx 40rpx;  
  background: #fff;
  margin-top:20rpx;
}
.task-top{
  display: flex
}
.task-top-img{
  width: 68rpx;
  height: 68rpx;
  border-radius: 50%;
}
.task-top-right{
  flex:1;
}
.task-top-all{
  display:flex;
 line-height:42rpx;
 padding-left:22rpx;

}
.task-top-name{
  font-size: 28rpx;
  color: #333;
  flex: 1
}
.task-top-time{
  font-size:24rpx;
  color: #7E8495;
}
.task-top-post{
  color:#7E8495;
  flex:1;
  font-size: 24rpx;
}
.task-top-allProgess{
  color: #666;
  font-size: 24rpx;
}
.task-top-progess{
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #FE8200;
  text-align: justify;
}
.task-content{
  padding:32rpx 0 24rpx 0;
  font-size: 30rpx;
  color:#333;
  line-height: 42rpx;
}
.task-foot{
  display: flex
}
.task-foot-time{
  color:#FE8200;
  flex: 1;
  font-size:24rpx;
  line-height: 42rpx;
}
.task-foot-status{
  border-radius: 10px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: -0.29px;
  padding: 4rpx 18rpx;
}