.team-head-box {
	position: relative;
}

.team-head-box .team-head-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.team-head-box .team-head {
	z-index: 1;
	background: rgba(24, 28, 41, 0.9);
	padding: 30rpx 0;
}

.team-head-box .team-head .head-top {
	margin: 0 60rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.team-head-box .team-head .head-top .invite-btn {
	height: 52rpx;
	line-height: 52rpx;
	border: 2rpx solid #29C37F;
	border-radius: 26rpx;
	font-family: PingFangSC-Regular;
	font-size: 28rpx;
	color: #29C37F;
	text-align: center;
	background: none;
	width: 120rpx;
	padding: 0;
	margin: 0;
}

.team-head-box .team-head .no-invite {
	justify-content: center;
}

.team-head-box .team-head .head-top .user-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.team-head-box .team-head .head-top .user-box .head-img {
	width: 100rpx;
	height: 100rpx;
	border-radius: 16rpx;
	margin-right: 20rpx;
}

.team-head-box .team-head .head-top .user-box .user-detail {
	flex: 1;
}

.team-head-box .team-head .head-top .user-box .user-detail .user-name {
	display: flex;
	align-items: center;
}
.user-box-all{
  display: flex;
  align-items: center;
  margin-bottom: 20rpx;
}
.team-head-box .team-head .head-top .user-box .user-detail .user-name view {
	font-family: PingFangSC-Medium;
	font-size: 34rpx;
	color: #FFFFFF;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 20rpx;
}

.team-head-box .team-head .head-top .user-box .user-detail .user-name navigator {
	width: 60rpx;
}

.team-head-box .team-head .head-top .user-box .user-detail .user-name image {
	width: 36rpx;
}

.team-head-box .team-head .head-top .user-box .user-detail .user-level text {
	font-family: PingFangSC-Regular;
	font-size: 24rpx;
	color: #7B8294;
}

.team-head-box .team-head .head-bottom {
	/* margin-top: 40rpx; */
  margin:40rpx 60rpx 0 60rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.team-head-box .team-head .head-bottom .bottom-num {
	flex: 1;
}

.numColor {
  font-family: PingFangSC-Medium;
  font-size: 40rpx;
  color: #18C47D;
  text-align: justify;
  padding-left: 10rpx;
}

.team-head-box .team-head .head-bottom .bottom-num .desc {
font-family: PingFangSC-Regular;
font-size: 24rpx;
color: #ABB1C5;
text-align: justify;
display: flex;
align-items: center
}

.team-list-box {
	background: #fff;
	width: 100%;
	height: 100%;
  margin-top: 30rpx;
}

.team-item {
	padding: 40rpx;
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
  border-bottom: 2rpx solid #f0f0f0;
}

.team-item .item-left {
	width: 46rpx;
  margin-top: 10rpx;
	font-family: PingFangSC-Semibold;
	font-size: 44rpx;
	color: #7E8495;
	text-align: center;
	margin-right: 30rpx;
}

.team-item .item-left image {
	width: 46rpx;
	height: 50rpx;
}

.team-item .item-avatar {
	width: 70rpx;
	height: 70rpx;
	border-radius: 50%;
	margin-right: 20rpx;
}

.team-item .item-center {
	flex: 1;
	margin-right: 20rpx;
}

.team-item .item-center .user-name {
	font-family: PingFangSC-Medium;
	font-size: 28rpx;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  max-width: 240rpx;
}

.team-item .item-center .user-box {
	display: flex;
	align-items: center;
}

.team-item .item-center .user-box view {
	font-family:PingFangSC-Regular;
	font-size:24rpx;
	color:#666;
  line-height: 40rpx;
	margin-right:20rpx;
}

.team-item .item-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
  flex-direction: column;
}
.item-right .arrow{
  flex: 1;
  width: 100%
}
.point-box{
  display: flex;
  align-items: center
}
.team-item .item-right .arrow image{
  width: 24rpx;
  height: 17rpx;
  margin-left: 0;
  position: relative;
  z-index: 9999;
  float: right
}

.team-item .item-right .user-point {
	font-family: PingFangSC-Semibold;
	font-size: 40rpx;
	color: #FD9B03;
	text-align: center;
}
.userAdmin{
  background: #FFEDB5;
  border-radius: 10px;
  width: 32rpx;
  height: 32rpx;
  margin-left: 10rpx;
}
.userCard{
  background: #DEF6EC;
  margin-left: 10rpx;
  border-radius: 10px;
  font-family: PingFangSC-Semibold;
  font-size: 20rpx;
  color: #29C37F;
  letter-spacing: 0.19px;
  padding: 0 16rpx;
}
.team-item .item-right .zero-point {
	width: 16rpx;
	font-size: 20rpx;
	color: #999999;
	text-align: center;
	margin-left: 12rpx;
	font-weight: bold;
}

.team-item .item-right image {
	width: 16rpx;
	height: 24rpx;
	margin-left: 12rpx;
}
.model-box{
  width: 164rpx;
  height: 196rpx;
  background: #FFFFFF;
  box-shadow: 0 4rpx 8rpx 0 rgba(130,135,148,0.25);
  border-radius: 4rpx;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 41rpx
}
.model-box view{
  text-align: center;
  width: 100%;
  line-height: 64rpx;
  font-size: 24rpx;
  color: #181C29;
  letter-spacing: 0.19px;
  align-content: center;
  align-items: center;
  height: 64rpx;
  border-bottom: 2rpx solid #E5E7EB;
}
.model-box view:last-child{
  border-bottom:none
}

.mask{
  width:100%;
  height:100%;
  background:#000;
  top: 0rpx;
  left: 0rpx;
  display:flex;
  position:fixed;
  z-index:33333;
  background: rgba(0, 0, 0, 0.4);
}
.maskIndex{
  position: absolute;
  left: 50%;
  top: 50%;
  width:600rpx;
  background:#fff;
  transform: translate(-50%, -50%);
  border-radius:20rpx;
  padding:67rpx 40rpx 40rpx 40rpx;
}
.maskTitle{
  height: 66rpx;
  line-height: 66rpx;
  color: #C7CAD3;
}
.maskFootSure{
  color: #29C37F;
  font-size: 28rpx;
  line-height: 40rpx;
  height:40rpx;
  float: right;
}
.maskFootCancel{
  color: #999;
  font-size: 28rpx;
  line-height: 40rpx;
  height:40rpx;
  margin-right: 56rpx;
  float: right;
}
.maskFoot{
  width:100%;
  text-align:right;
  padding-top: 35rpx;
  overflow: hidden
}
.maskInfo input{
  border-bottom:2rpx solid #EDEEF2;
  margin-left:32rpx;
  float:right;
  width:100%;
  font-size:34rpx;
  line-height:200rpx;
  height:70rpx;

}
.nickName{
	font-family: PingFangSC-Regular;
	font-size: 28rpx;
	color: #333333;
	letter-spacing: 0;
	text-align: center;
}
.maskInfo{
  display: flex;
  align-items: center;
  height:80rpx;
  width: 100%;
}
.model-all-box{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
	top: 0;
	left: 0
}













